* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

@font-face {
  font-family: "Glacial Indifference Regular";
  src: url(/src/font/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: "Glacial Indifference Bold";
  src: url(/src/font/GlacialIndifference-Bold.otf);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: white;
  box-shadow: 0px 3px 3px rgba(00, 00, 00, 0.16);
}

header nav {
  display: flex;
}

header h1 {
  display: flex;
  font-size: 20px;
  font-family: "Glacial Indifference Bold";
}

#burger-menu {
  width: 21px;
  height: 12px;
  margin-left: 16px;
}

#shopping-bag {
  width: 20px;
  height: 23px;
  margin-right: 16px;
}

.hero-image {
  background-image: url("/src/img/hero_home.jpg");

  height: 370px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: "Glacial Indifference Regular";
  font-size: 21px;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.groupe-sell,
.groupe-opinions {
  margin-top: 40px;
}

.groupe-title {
  font-family: "Glacial Indifference Bold";
  text-align: center;
}

.custommers-opinions {
  display: flex;
  flex-direction: column;
}

.slider {
  width: 310px;
  height: 200px;
  display: flex;
  align-content: center;
  margin: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  display: flex;
  align-items: flex-end;
  width: 132.83px;
  flex-shrink: 0;
  height: 132.83px;
  background-color: violet;
  margin-right: 18.7px;
  margin-top: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(00, 00, 00, 0.16);
}

.slide-title {
  height: 20px;
  width: 132.83px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
  display: table;
}

#see-more {
  position: absolute;
}

button {
  width: 104px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #EA8824;
  color: #fff;
  font-family: "Glacial Indifference Bold";
  font-size: 15px;
  display: flex;
  align-content: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.custommers-opinions {
  width: 300px;
  height: 135px;
  display: flex;
  align-content: center;
  margin: auto;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(00, 00, 00, 0.16);
  margin-top: 40px;
  margin-bottom: 27px;
}

footer {
  height: 175px;
  background-color: #2486EA;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
}

.custommers-name {
  font-family: "Glacial Indifference BOLD";
}


.opinions {
  font-family: "Glacial Indifference Regular";
  padding: 10px;
}

.footer-text {
  font-family: "Glacial Indifference Regular";
  color: #fff;
}

#velo_montgolfière {
  width: 100%;
  height: 100%;
}

.velo {
  background-image: url('/src/img/velo_montgolfière.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.nacelles {
  background-image: url('/src/img/nacelles_privées.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.noel {
  background-image: url('/src/img/billet_noël.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.pommard {
  background-image: url('/src/img/pommard.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.groupes {
  background-image: url('/src/img/groupes.jfif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.loire {
  background-image: url('/src/img/loire.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.items-title {
  font-family: "Glacial Indifference Regular";
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

@media only screen and (min-width: 768px) {
  .hero-image {
    height: 500px;
  }
}

@media screen and (min-width: 1000px) {}

@media screen and (min-width: 1440px) {}