* {
  padding: 0;
  margin: 0;
}

body{
  height: 100%;
}

@font-face {
  font-family: "Glacial Indifference Regular";
  src: url(/src/font/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: "Glacial Indifference Bold";
  src: url(/src/font/GlacialIndifference-Bold.otf);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: white;
  box-shadow: 0px 3px 3px rgba(00, 00, 00, 0.16);
}

header nav {
  display: flex;
}

header h1 {
  display: flex;
  font-size: 20px;
  font-family: "Glacial Indifference Bold";
}

#burger-menu {
  width: 21px;
  height: 12px;
  margin-left: 16px;
}

#shopping-bag {
  width: 20px;
  height: 23px;
  margin-right: 16px;
}

.hero-image{
  background-image: url("/src/img/hero_home.jpg");

  height: 370px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text{
  font-family: "Glacial Indifference Regular";
  font-size: 21px;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#promotions{
  margin-top: 40px;
}

.groupe-title{
  font-family: "Glacial Indifference Bold";
  text-align: center;
}

.slider {
  width: 310px;
  height: 200px;
  display: flex;
  align-content: center;
  margin:auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar{
  display: none;
}

.slide {
  width: 132.83px;
  flex-shrink: 0;
  height: 132.83px;
  background-color: violet;
  margin-right: 18.7px;
  margin-top:40px;
}

#see-more{
  position: absolute;
  
}

button{
  width: 104px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #EA8824;
  color: #fff;
  font-family: "Glacial Indifference Bold";
  font-size: 15px;
  display: flex;
  align-content: center;
  margin: auto;

}

@media only screen and (min-width: 768px) {
  .hero-image{
    height: 500px;
  }
}

@media screen and (min-width: 1000px) {}

@media screen and (min-width: 1440px) {}